/* You can add global styles to this file, and also import other style files */
html, body{
    overflow-x: hidden;
}
.navbar{
    background-color: rgba(0, 0, 0, 0.315);
}
.navbar-nav {
    align-items: center;
}
.active{
    color: #000 !important;
    font-weight: 700;
    text-decoration: none;
}
/*NavBar Start*/
@media (max-width: 991px) {
    .navbar-scroll {
        background-color: rgba(0, 0, 0, 0.315);
    }
       
    .navbar-scroll .navbar-brand,
    .navbar-scroll .nav-link,
    .navbar-scroll .fa-bars {
      color: #fff !important;
      font-size: 16px;
    }         
  }
  
  .navbar-brand {
    letter-spacing: 3px;
    font-size: 2rem;
    font-weight: 500;
  }
  .navbar-scroll .navbar-brand,
  .navbar-scroll .nav-link,
  .navbar-scroll .fa-bars {
    color: #fff;
  }
  
  .navbar-scroll {
    box-shadow: none;
  }
  
  .navbar-scrolled {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
  }
  
  .navbar-scrolled .navbar-brand,
  .navbar-scrolled .nav-link,
  .navbar-scrolled .fa-bars {
    color: #4f4f4f;
  }
  
  .navbar-scrolled {
    background-color: #fff;
  }
  
  @media (max-width: 450px) {
    #intro {
      height: 950px !important;
    }
  }
  
  @media (min-width: 550px) and (max-width: 750px) {
    #intro {
      height: 1100px !important;
    }
  }
  
  @media (min-width: 800px) and (max-width: 990px) {
    #intro {
      height: 600px !important;
    }
  }
  
  .display-1 {
    font-weight: 500 !important;
    letter-spacing: 40px;
  }
  
  @media (min-width: 1600px) {
    .display-1 {
      font-size: 10rem;
    }
  }
/*NavBar End*/

/*Responsive Start*/
@media (max-width: 1399.98px) {

}

@media (max-width: 1199.98px) {

}

@media (max-width: 991.98px) {
    .video-block{
        width: 100% !important;
        height: 400px;
    }
    .grid-about-us{
        width: 100%;
        margin-top: 20px;
    }
    .why-choose .col{
        width: 50%;
    }
    .layout-email{
        width: 50%;
    }
}

@media (max-width: 767.98px) {
    .banner{
        height: auto !important;
    }
    .grid-about-us .col{
        width: 50%;
    }
    .layout-target .row.d-flex {
        width: 50%;
    }
    .layout-target .row.d-flex .col-6.col-sm-3{
        width: 100%;
    }
    .layout-target .row.d-flex:nth-child(2){
        margin-left: auto;
    }
}

@media (max-width: 575.98px) {
    .home-contact .ng-fa-icon{
        font-size: 25px !important;
    }
    .layout-contact{
        flex-direction: column;
    }
    .layout-contact .col-6{
        width: 100%;
    }
    .layout-contact .col-6.d-flex.ps-5.pe-3{
        padding: 2rem !important;
    }
}
/*Responsive End*/